<section class="hero-section d-flex justify-content-center align-items-center w-100 h-100">
    <div class="container-lg hero-data">
        <div class="hero-title">
            <p class="m-0">
                Manage all of your <span class="text-danger fw-bold">Expenses</span> <br>
                and <span class="text-success fw-bold">Incomes</span> only with
            </p>
            <h4 class="m-0">
                x<span>Track</span>
            </h4>
        </div>
        <div class="hero-desc">
            <ul class="p-0">
                <li *ngFor="let desc of appDescription">
                    <i class="fa-solid fa-circle-check me-2 mt-2 desc-icons"></i>
                    <span>{{desc}}</span>
                </li>
            </ul>
        </div>
        <div class="hero-button-group">
            <button class="btn btn-sm btn-success me-3" routerLink="auth/login">Login</button>
            <button class="btn btn-sm btn-warning" routerLink="auth/signup">Signup</button>
        </div>
    </div>
</section>
