<div class="nav">
    <div class="d-flex align-items-center">
        <button class="hamburger" (click)="sidebarSwitch()">
            <span *ngIf="!isActive">
                <i class="hamburger-icons fa-solid fa-bars fs-4 pt-1"></i>
            </span>
            <span *ngIf="isActive">
                <i class="hamburger-icons fa-solid fa-bars-staggered fs-4 pt-1"></i>
            </span>
        </button>
        <h1 class="fs-4 m-0 p-0 ms-2" routerLink="/">xTrack</h1>
    </div>
    <div>
        <ng-container *ngIf="!isLoggedIn">
            <button class="mx-2 btn btn-sm btn-success" routerLink="auth/login">
                Login
            </button>
            <button class="mx-2 btn btn-sm btn-warning" routerLink="auth/signup">
                Signup
            </button>
        </ng-container>
        <ng-container *ngIf="isLoggedIn">
            <button class="mx-2 btn btn-sm btn-danger" (click)="logout()">
                Logout
            </button>
        </ng-container>
        <button class="color-mode-button" (click)="colorModeSwitch('dark')" *ngIf="colorMode == 'light'">
            <i class="mode-icons fa-solid fa-moon fs-4 pt-1"></i>
        </button>
        <button class="color-mode-button" (click)="colorModeSwitch('light')" *ngIf="colorMode == 'dark'">
            <i class="mode-icons fa-solid fa-sun fs-4 pt-1"></i>
        </button>
    </div>
</div>
