<!-- <nav class="navbar ">
</nav> -->
<div class="nav bg-body-tertiary">
    <div class="d-flex align-items-center">
        <button class="hamburger" (click)="sidebarSwitch(true)" *ngIf="!hamburgerToggle">
            <i class="fa-solid fa-bars fs-3"></i>
        </button>
        <button class="hamburger" (click)="sidebarSwitch(false)" *ngIf="hamburgerToggle">
            <i class="fa-solid fa-bars-staggered fs-3"></i>
        </button>
        <h1 class="fs-3 m-0 p-0 ms-2 ">Navbar</h1>
    </div>
    <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
        aria-controls="offcanvasExample">
        Link with href
    </a>
</div>
<!-- height: 8rem, position: fixed, z-index:101 -->