<div class="nav">
    <div class="d-flex align-items-center">
        <button class="hamburger" (click)="sidebarSwitch()">
            <span *ngIf="!isActive">
                <i class="hamburger-icons fa-solid fa-bars fs-4 pt-1"></i>
            </span>
            <span *ngIf="isActive">
                <i class="hamburger-icons fa-solid fa-bars-staggered fs-4 pt-1"></i>
            </span>
        </button>
        <h1 class="fs-4 m-0 p-0 ms-2" routerLink="/">xTrack</h1>
    </div>
    <div class="d-flex align-items-center">
        <ng-container *ngIf="isLoggedIn$ | async">
            <div class="user-container">
                <div class="user-avatar">
                    <i class="fa-solid fa-user"></i>
                </div>
                <p class="userAppId">{{ userAppId$ | async }}</p>
            </div>
        </ng-container>
        <button class="color-mode-button" (click)="colorModeSwitch('dark')" *ngIf="colorMode == 'light'">
            <i class="mode-icons fa-solid fa-moon fs-4 pt-1"></i>
        </button>
        <button class="color-mode-button" (click)="colorModeSwitch('light')" *ngIf="colorMode == 'dark'">
            <i class="mode-icons fa-solid fa-sun fs-4 pt-1"></i>
        </button>
    </div>
</div>
