.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    height: 4rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 101;
    color: var(--primary-font-color);
    background-color: var(--primary-bgcolor);
    box-shadow: 0px -2px 7px 2px var(--shadow-color);
}
.hamburger{
    display: none;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    margin: 0 0.5rem;
}
.hamburger-icons, .mode-icons {
    color: var(--primary-color);
}
.color-mode-button{
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    margin: 0 0.5rem;
}

/* ====================== Media Queries ================== */

@media(max-width: 768px){

}

@media(max-width: 586px){
    .hamburger{
        display: flex;
    }
}