/* ======================= Imports ======================== */
@import "./StyleSheets/xTrack-theming.css";



/* ===================== Variables ======================== */
:root {
    --navbar-height: 4rem;
    --sidebar-width-full: 16rem;
    --sidebar-width-collapsed: 4rem;
    --sidebar-width-overlay: 14rem;
    /* Resp font sizes - for heading, sub heading, paragraphs*/
    --fsize-2: 2rem;
    --fsize-1-5: 1.5rem;
    --fsize-1-25: 1.25rem;
    --fsize-1: 1rem;
    --fsize-0-85: 0.85rem;
    --fsize-0-7: 0.7rem;
}

::-webkit-scrollbar {
  width: 0.7rem;
  height: 0.7rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 3rem;
}
::-webkit-scrollbar-track {
  background-color: var(--secondary-color);
  border-radius: 3rem;
}

/* ======================= Reset ========================== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,ol,li{
    list-style: none;
}
body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    color: var(--primary-font-color);
    background-color: var(--primary-bgcolor);
    font-family: 'Poppins', sans-serif;
}





/* ===================== Global Media Queries ======================== */